.Badge__item {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1em;
}

.Badge__item-avatar {
  border-radius: 50%;
}
